.app-container {
  margin: 0px auto;
  width: 100%;
  background-color: #f7f7f7;
  height: 100%;
}
.brand-logo {
  width: 100%;
  height: 70px;
}
.para-text {
  margin-top: 0px;
}
.main-page-header {
  background-color: rgb(134, 134, 241);
  color: white;
  font-weight: bold;
  margin: 0px;
  width: 100%;
  height: 70px;
  font-size: xx-large;
  text-align: center;
}
.main-page-content-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100lvh;
  display: flex;
}
.heading {
  text-align: center;
  color: blue;
  margin-top: 4%;
}
.side-bar-area {
  width: 15%;
  background-color: rgb(134, 134, 241);
  color: white;
  height: 100vh;
}
.nav-bar-jouney > ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
.link-no-underline {
  text-decoration: none;
  color: white;
}
.nav-bar-jouney > ul > li {
  height: 100%;
  color: blue;
  font-size: large;
  cursor: pointer;
}
.nav-bar-jouney > ul > li:hover {
  background-color: white;
  font-weight: 500;
}
.content-side-area {
  width: 100%;
  height: 100%;
}
.landing-page-heading {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: blue;
}
.option-alignment > a {
  color: black;
  text-decoration: none;
}
.option-alignment {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}
.option-alignment:hover {
  cursor: pointer;
}
.student-content-page {
  text-align: center;
}
.form-page {
  display: flex;
  justify-content: space-around;
}
.content {
  font-size: x-large;
}
.form-control {
  width: 800px;
}
.form-control {
  margin-left: 15%;
}
.row_form-control-pass {
  margin-left: 35px;
}
.row_form-control-email {
  margin-left: 5px;
  margin-top: 5px;
}
